.mails-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: 'google-sans', sans-serif;
}

.mails-list li {
  display: grid;
  grid-template-columns: 1fr 2fr 4fr 1fr;
  align-items: center;
  align-content: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  background-color: var(--mail-list-items-unread);
  /* background: #f2f6fc; */
  transition: background 0.3s ease, height 0.3s ease;
  position: relative;
  cursor: pointer;
  max-height: 60px;
  overflow: hidden;
}

.mails-list li.unread {
  font-weight: bold;
  background: #ffffff;
}

.mails-list li:hover {
  background: #e8effd;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  min-height: 2.875em;
}

.list-options {
  display: flex;
  gap: 10px;
  justify-content: space-between;

  background-color: var(--mail-main-white);
  border-radius: 20px 20px 0 0;
  height: 50px;
}

.list-options button {
  margin-inline: 20px;
  width: 20px;
  height: 20px;
}

.mail-from {
  margin-inline-start: 20px;
}

.mail-content {
  padding: 0 10px;
}

.sentAt {
  color: gray;
  cursor: pointer;
  text-align: right;
}

.mail-actions {
  display: none;
  position: absolute;
  right: 10px;
}

.mails-list li:hover .mail-actions {
  display: flex;
  gap: 10px;
}

.mails-list li:hover .sentAt {
  visibility: hidden;
}
