.mail-aside {
  background-color: var(--mail-main-bg);
}

button.compose-btn {
  background-image: none;
  width: 119px;
  height: 56px;
  min-width: 96px;
  font-family: 'google-sans', sans-serif;
  font-size: 14px;
  line-height: 32px;
  text-align: center;
  letter-spacing: normal;
  color: #001d35; /* Text color */
  background-color: #c2e7ff;
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0) 0px 1px 2px 0px, rgba(0, 0, 0, 0) 0px 1px 3px 1px;
  border: none;
  cursor: pointer;
  outline: none;
  display: flex;

  align-items: center;
  justify-content: center;
  padding: 0 16px 0 0;
}

button.compose-btn::before {
  content: '';
  display: inline-block;
  background-image: url('../../../../../apps/mail/assets/icons/create_black_24dp.png');
  width: 24px;
  height: 24px;
  margin-right: 8px; /* Space between the icon and the text */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center;
}

.folder-menu {
  display: flex;
  flex-direction: column;
  padding: 0;
  font-family: 'google-sans', sans-serif;
  font-size: 14px;

  margin: 0;
}

/* General Button Styling */
.mail-aside-btn {
  display: flex; /* Use flexbox to align items horizontally */
  align-items: center; /* Center items vertically */
  padding: 20px 20px; /* Adjust padding for better alignment */
  border: none;
  background: none;
  cursor: pointer;
  color: #202124;
  text-align: left;
  width: 100%; /* Make buttons full width */
  border-radius: 0 24px 24px 0; /* Creates the pill shape on the right side */
  margin: 0; /* Remove margin for better alignment */
  position: relative; /* Position relative for child elements */
}

.mail-aside-btn span {
  flex-grow: 1;
  padding-left: 16px;
}

.mail-aside-btn::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 16px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center; /* Align all icons to the same position */
}

.mail-aside-btn:hover {
  background-color: #e8f0fe;
}

.mail-aside-btn-inbox {
  justify-self: space-between;
  background-image: url('../../../../../apps/mail/assets/icons/inbox_fill_baseline_p900_20dp.png');
  background-repeat: no-repeat;
  background-position: left 10px center;
}

.mail-aside-btn-starred {
  background-image: url('../../../../../apps/mail/assets/icons/star_baseline_nv700_20dp.png');
  background-repeat: no-repeat;
  background-position: left 10px center;
}

.mail-aside-btn-important {
  background-image: url('../../../../../apps/mail/assets/icons/label_important_baseline_nv700_20dp.png');
  background-repeat: no-repeat;

  background-position: left 10px center;
}

.mail-aside-btn-sent {
  background-image: url('../../../../../apps/mail/assets/icons/send_baseline_nv700_20dp.png');
  background-repeat: no-repeat;

  background-position: left 10px center;
}

.mail-aside-btn-drafts {
  background-image: url('../../../../../apps/mail/assets/icons/draft_baseline_nv700_20dp.png');
  background-repeat: no-repeat;

  background-position: left 10px center;
}

.mail-aside-btn-trash {
  background-image: url('../../../../../apps/mail/assets/icons/delete_baseline_nv700_20dp.png');
  background-repeat: no-repeat;
  background-position: left 10px center;
}

/* button.compose-btn {
  background-image: url('../../../../../apps/mail/assets/icons/create_black_24dp.png');
  width: 56px;
  height: 56px;
  font-family: 'Google Sans', Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  font-size: 0px;
  line-height: 32px;
  text-align: center;
  letter-spacing: normal;
  background-color: #c2e7ff;
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0) 0px 1px 2px 0px, rgba(0, 0, 0, 0) 0px 1px 3px 1px;
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
  outline: none;
} */
