.mails-list {
  list-style-type: none; /* Remove bullet points */
  padding: 0;
  margin: 0;
  font-size: 16px;
}

.mails-list li {
  display: grid; /* Changed from flex to grid */
  grid-template-columns: 1fr 2fr 4fr 1fr; /* Four columns with respective sizing */
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  background: #f2f6fc;
  transition: background 0.3s ease, height 0.3s ease;
  position: relative;
  cursor: pointer;
  height: 2em;
}

.mails-list li.unread {
  font-weight: bold;
  background: #ffffff;
}

.mails-list li:hover {
  background: #e8effd;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  height: 3em;
}

.mail-select-options {
  display: flex;
  gap: 10px;
  justify-content: space-between; /* Added to space out elements */
  margin-right: 10px;
}

.mail-select-options img {
  width: 20px;
  height: 20px;
}

.mail-from {
  margin-inline-start: 20px;
}

.mail-content {
  padding: 0 10px;
}

.sentAt {
  text-align: right; /* Align to the end */
  /* color: gray; */
  cursor: pointer;
  font-size: 0.8em;
}

.mail-actions {
  display: none;
  position: absolute;
  right: 10px;
}

.mails-list li:hover .mail-actions {
  display: flex;
  gap: 10px;
}

.mails-list li:hover .sentAt {
  visibility: hidden;
}
