.mails-list {
  list-style-type: none; /* Remove bullet points */
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: 'google-sans', sans-serif;
}

.mails-list li {
  display: grid; /* Changed from flex to grid */
  grid-template-columns: 1fr 2fr 4fr 1fr; /* Four columns with respective sizing */
  align-items: center;
  align-content: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  background-color: var(--mail-list-items-unread);
  /* background: #f2f6fc; */
  transition: background 0.3s ease, height 0.3s ease;
  position: relative;
  cursor: pointer;
  max-height: 60px;
  overflow: hidden;
}

.mails-list li.unread {
  font-weight: bold;
  background: #ffffff;
}

.mails-list li:hover {
  background: #e8effd;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  min-height: 2.875em; /* Increase min-height by 15% */
}

.list-options {
  display: flex;
  gap: 10px;
  justify-content: space-between; /* Added to space out elements */

  background-color: var(--mail-main-white);
  border-radius: 20px 20px 0 0;
  height: 50px;
}

.mail-from {
  margin-inline-start: 20px;
}

.mail-content {
  padding: 0 10px;
}

.sentAt {
  color: gray;
  cursor: pointer;
  text-align: right; /* Align to the end */
}

.mail-actions {
  display: none;
  position: absolute;
  right: 10px;
}

.mails-list li:hover .mail-actions {
  display: flex;
  gap: 10px;
}

.mails-list li:hover .sentAt {
  visibility: hidden;
}

/* color rgb(32, 33, 36)
display block
flex-grow 1
font-family "Google Sans", Roboto, RobotoDraft, Helvetica, Arial, sans-serif
height 755px

height 755px
overflow-x hidden
overflow-y hidden
unicode-bidi isolate
width 1041.65px */
