

.note-edit{
    display: grid;
    justify-self: center;
    gap: 1em;
    margin: 0.5em;
    border-radius: 8px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 5px 0px
}

.note-edit details{
    padding: 1em;

}

.note-edit form{
    display: grid;
    padding: 1em;
    /* justify-items: center; */
    gap: 1px;
    margin-inline-start: 1em;
}
.note-edit form input{
/* border-bottom-left-radius:0 ;
border-bottom-right-radius: 0; */
}

.note-edit.addnote{
    border: 1px solid lightgrey;
    border-radius: 8px;
    
}

.note-edit-preview{
    display: grid;
    justify-self: center;
    gap: 1em;
    margin: 0.5em;
    border-radius: 8px;
    width: 60%;
    min-width: 300px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 5px 0px;
    padding: 1em;
    
}
.txtarea:focus{
    border: none;
}