

.note-edit{
    display: grid;
    justify-self: center;
    gap: 1em;
    margin: 0.5em;
    border-radius: 8px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 5px 0px;
}

.note-edit details{
    padding: 1em;

}

.note-edit form{
    display: grid;
    padding: 1em;
    /* justify-items: center; */
    gap: 1px;
    margin-inline-start: 1em;
}
.note-edit form input{
/* border-bottom-left-radius:0 ;
border-bottom-right-radius: 0; */
}

.note-edit.addnote{
    border: 1px solid lightgrey;
    border-radius: 8px;
    
}

.note-edit-preview{
    display: grid;
    justify-self: center;
    gap: 1em;

    margin: 0.5em;
    border:1px #00000033 solid;

    border-radius: 8px;
    width: 60%;
    min-width: 300px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 5px 0px;
    padding: 1em;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;

}
.txtarea:focus{
    border: none;
}

.add-todo,.show-todo,.add-video,.add-img{
    display:flex;
    align-items: center;
    padding: 1.333333em;
    gap: 1em;
}

.note-todo{
    padding-left: 1.333333em;
    font-family: 'Roboto';
    font-size: 1.33333em;

}

.note-img,.note-video{
    display: flex;
    justify-content: center;
    padding: 1em 0;
}
.note-edit-preview img,.note-edit-preview iframe{
     width: 20%;
    object-fit: cover;
    object-position: center;
}