.note-header{
    display: flex;
    gap: 1em;
    /* justify-content: space-between; */
    align-items: center;
    padding: 1em;
    margin-inline-end: 1em;
    background-color: #ffffff;
    width: 100%;

    border-top: 1px solid #f1f3f4 ;
    border-bottom: 1px solid #f1f3f4 ;

}