 /* note list */
 .note-list ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-auto-flow: dense;
    justify-content: center;
}

.note-list ul li {
    display: grid;

    justify-items: center;
    border-radius: 15px;
    /* gap: 1em; */
    padding: 1em;
}

/* .close {
    position: absolute;
    border-radius: 50%;
    top: -7px;
    right: -7px;
    background: rgb(207, 158, 158);
} */

/* .notes-list li:hover img {
    animation: bounceIn;
    animation-duration: 2s;
} */