.mail-index {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr; /* Adjusted column sizes for better alignment */
  grid-template-rows: 100px 1fr; /* Header row and main content row */
  gap: 20px;
  padding: 8px;
  background-color: #fff;
}

.mail-header {
  grid-column: 1 / 3; /* Span all columns */
  display: grid;
  align-items: center;
  padding: 8px;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 1000;
}

.mail-aside {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  max-height: max-content;
  overflow-y: auto;
}

.main-mail-list {
  grid-row: 2 / 3;
  max-height: max-content;
  overflow-y: auto;
}

.add-ons {
  /* column: 1; */
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  max-height: max-content;
  overflow-y: auto;
}

/* .mail-index {
  display: grid;
  grid-template-columns:
    minmax(20px, 1fr)
    minmax(auto, 1018px)
    minmax(20px, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    'as he he'
    'as li li';
  gap: 20px;
  padding: 20px;
  background-color: #fff;
}

.mail-header {
  grid-area: he;
}

.mail-list {
  grid-area: li;
}
.mail-aside {
  grid-area: as;
} */
